<div>
  <div class="form-inline">
      <input #summonerName (keyup.enter)="onSearchClick(summonerName.value)" class="form-control my-2 mr-2" placeholder="Summoner Name" />
      <select class="form-control custom-select m-2" [(ngModel)]="region">
        <option *ngFor="let r of regions" [ngValue]="r.id">{{r.name}}</option>
      </select>
      <button type="button" class="btn btn-primary m-2" (click)="onSearchClick(summonerName.value)">Search</button>
  </div>

  <div *ngIf="summoner" class='card'>
    <div class="card-body">
      <img width="100" src="{{gameVersions.cdn}}/{{gameVersions.n.profileicon}}/img/profileicon/{{summoner.summonerProfile.profileIconId}}.png" />
      <div class="d-inline-block ml-2">
          <h4 class="card-title">{{summoner.summonerProfile.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Level {{summoner.summonerProfile.summonerLevel}}</h6>
      </div>
      
      <div *ngIf="summoner.matchHistory && summoner.matchHistory.matches.length">
        <div class="card" *ngFor="let match of summoner.matchHistory.matches">
          <div class="card-body">
            <div>{{match.timestamp | date}}</div>
            <div>Players</div>
            <div class="">
              <div class="card" *ngFor="let participant of match.game.participantIdentities">
                <div class="card-body">
                    <img width="50" src="{{gameVersions.cdn}}/{{gameVersions.n.profileicon}}/img/profileicon/{{participant.player.profileIcon}}.png" />
                    <div class="d-inline-block ml-2">
                        <h6 class="card-title">{{participant.player.summonerName}}</h6>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
