<div>
  <div class="form-inline">
      <input #summonerName (keyup.enter)="onSearchClick(summonerName.value)" class="form-control my-2 mr-2" placeholder="Summoner Name" />
      <select class="form-control custom-select m-2" [(ngModel)]="region">
        <option *ngFor="let r of regions" [ngValue]="r.id">{{r.name}}</option>
      </select>
      <button type="button" class="btn btn-primary m-2" (click)="onSearchClick(summonerName.value)">Search</button>
  </div>

  <div *ngIf="summoner" class='card'>
    <div class="card-body">
      <img width="100" src="{{gameVersions.cdn}}/{{gameVersions.n.profileicon}}/img/profileicon/{{summoner.profileIconId}}.png" />
      <div class="d-inline-block ml-2">
          <h4 class="card-title">{{summoner.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Level {{summoner.summonerLevel}}</h6>
      </div>
      
      <div *ngIf="summoner.matchHistory && summoner.matchHistory.length">
        <div class="card" *ngFor="let match of summoner.matchHistory">
          <div class="card-body">
            <div>{{match.stats.win ? "Win" : "Loss"}}</div>
            <div>{{match.gameCreation | date}}</div>
            <div>{{match.gameDuration | secondsMinutes}}</div>
            <!-- Champion (need to use game version not latest) -->
            <img *ngIf="match.champion" class="rounded-circle" title="{{match.champion.blurb}}" width="50" src="{{gameVersions.cdn}}/{{gameVersions.n.champion}}/img/champion/{{match.champion.id}}.png" />
            <span class="badge badge-pill">{{match.stats.champLevel}}</span>
            <div>KDA {{match.stats.kills}}/{{match.stats.deaths}}/{{match.stats.assists}}</div>
            <div>{{match.stats.totalMinionsKilled}} CS</div>
            <div>
              <!-- Items (need to use game version not latest) -->
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item0}}.png" /> 
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item1}}.png" />
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item2}}.png" />
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item3}}.png" />
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item4}}.png" />
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item5}}.png" />
              <img width="30" src="{{gameVersions.cdn}}/{{gameVersions.n.item}}/img/item/{{match.stats.item6}}.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
