<div>
  <input #summonerName placeholder="Summoner Name" />
  <select [(ngModel)]="region">
    <option *ngFor="let r of regions" [ngValue]="r.id">{{r.name}}</option>
  </select>
  <button type="button" (click)="onSearchClick(summonerName.value)">Search</button>
</div>
<div *ngIf="summonerProfile" class='profile'>
  <img width="100" src="{{summonerProfile.profileIconUrl}}" />
  <div>{{ summonerProfile.name }}</div>
  <div>{{ summonerProfile.puuid }}</div>
  <div>{{ summonerProfile.summonerLevel }}</div>
  <div>{{ summonerProfile.revisionDate }}</div>
  <div>{{ summonerProfile.id }}</div>
  <div>{{ summonerProfile.accountId }}</div>
</div>
