<div>
  <div class="form-inline">
      <input #summonerName class="form-control my-2 mr-2" placeholder="Summoner Name" />
      <select class="form-control custom-select m-2" [(ngModel)]="region">
        <option *ngFor="let r of regions" [ngValue]="r.id">{{r.name}}</option>
      </select>
      <button type="button" class="btn btn-primary m-2" (click)="onSearchClick(summonerName.value)">Search</button>
  </div>

  <div *ngIf="summonerProfile" class='card'>
    <div class="card-body">
      <img width="100" src="{{summonerProfile.profileIconUrl}}" />
      <div class="d-inline-block ml-2">
          <h4 class="card-title">{{summonerProfile.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Level {{summonerProfile.summonerLevel}}</h6>
      </div>
      
      <div>
        Match history
      </div>
    </div>
  </div>
</div>
